%ul.steps.list-inline
  - CheckoutStepService::VIEW_STEPS.each_with_index do |(key,value), index|
    -if presenter.checkout_step.to_s == CheckoutStepService::VIEW_STEPS[:complete]
      %li.step.done
        %span.step-number
          %i.fa.fa-check.step-icon
        %span.step-text.hidden-xs
          = value.capitalize
      %li{class: ('step-divider' if presenter.need_divider?(index+1)) }
    -else
      %li.step{class: ('active' if current_order.public_send(value+'?')) }
        %span.step-number
          = index + 1
        %span.step-text.hidden-xs
          = value.capitalize
      %li{class: ('step-divider' if presenter.need_divider?(index+1) ) }
