%p.in-gold-500.font-18{ class: ('text-right' if presenter.right_position?(current_order)) }
  =t('summary.title')
%table.general-summary-table{ class: ('general-summary-table-right general-text-right' if presenter.right_position?(current_order)) }
  %tr
    %td
      %p.font-16
        =t('summary.subtotal')
    %td
      %p.font-16
        = t('price', price: presenter.subtotal_order)
  %tr
    %td
      %p.font-16
        =t('summary.coupon')
    %td
      %p.font-16
        = t('price', price: presenter.coupon_order)
  %tr
    %td
      %strong.font-18
        =t('summary.order_total')
    %td
      %strong.font-18
        = t('price', price: presenter.total_order)
