- flash.each do |name, message|
  - if name == 'alert'
    %div(class="alert alert-#{name} text-center alert-danger")
      = message
  - else
    %div(class="alert alert-#{name} text-center alert-success")
      = message
